// _type.scss Partial - 22/01/2014 - @James_RWilliams

body {
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.4em;
	text-shadow: 0 1px 0 #FFF;
	
}

h1 { font-family: 'Lato', sans-serif; }

header h1 { margin: 0; }